#nav{
  display: flex;
  justify-content: flex-end;
   align-items: center;
   background-color: rgb(39, 42, 41);
   color: rgb(50, 112, 112);
   padding: 20px;
   box-shadow: 0px 0px 10px chocolate;
}
#nav li {
  list-style: none;
}
#nav a {
   color: bisque;
   text-decoration: none;
   margin-right: 6rem;
}
.img{
  width: 45%;
    height: auto;
    margin-left: 100px;
}
.div2{
   padding: 10px;

}
.div2 h3{
   margin : 0;
   font-size: 24px;
}
.btn{
   display: block;
  width :100px; 
  margin: 100px;
margin-top: 100px;
padding: 10px 100px;
background-color: brown;
text-align: center;
text-decoration: none;
}
